{:source-paths
 ["src"]

 :dependencies
 [[reagent "2.0.0-alpha2"]
  [re-frame "1.4.3"]
  [akiroz.re-frame/storage "0.1.4"]
  [re-frisk "1.7.1"]
  [re-frisk-remote "1.6.0"]
  [day8.re-frame/http-fx "0.2.4"]
  [superstructor/re-frame-fetch-fx "0.4.0"]
  [metosin/reitit "0.9.1"]
  [cljs-ajax "0.8.4"]]

 :dev-http {8080 "public"}
 :nrepl {:port 6666}

 :builds
 {:app {:target :browser
        :output-dir "public/js/"
        :closure-defines {metrajay.env/API_URL #shadow/env "API_URL"}
        :modules {:main {:init-fn metrajay.app/init}}
        :devtools {:preloads [re-frisk.preload]
                   :after-load ajakate.seekwence.core/mount-root}
        :dev {:compiler-options {:closure-defines {"re_frame.trace.trace_enabled_QMARK_" true}}}}}}
